<h1> Welcome (user_name) </h1>

<table>
<tr><a href="/new" class="large button">New Case</a></tr>
<tr><a href="#" class="large button">Add Doctor *only admin*</a></tr>
<tr><a href="/" class="large button">Update Doctor *only admin*</a></tr>
<tr><a href="/" class="large button">LOG-OUT!</a></tr>
</table>