<h1> Welcome (user name) </h1>

<table>
<tr><a href="/new" class="large button">New Case</a></tr>
</br>
<tr><a href="#" class="large button">Add Doctor *only admin*</a></tr>
</br>
<tr><a href="#" class="large button">Update Doctor *only admin*</a></tr>
</br>
<tr><a href="/yo" class="large button">LOG-OUT!</a></tr>
</table>