<DOCTYPE !HTML>
<html>
<head>

  <link rel="stylesheet" href="css/nephro.css">

</head>
<body>
  <div id="container">
    <%= Time.now %>
    <h1> NEPHRO-PAL </h1>

      <%= button_to "Login", user_session_path %>
    </br>
      <%= button_to "Create Account", new_user_registration_path %>
  </div>



</body>
</html>
