<DOCTYPE !HTML>
<html>
<head>
  <link rel="stylesheet" href="css/nephro.css"
</head>
<body>
  <div id="container">
    <div>
      <h1>NEPHRO-PAL</h1>
      <h5> beta -v 1.0</h5>
      <div id="logo">
      </div>
    <div id="login">
      <form>
      Username: <input type="text" name="username" size="20" /><br/>
      Password: <input type="password" name="password" size="20" /><br />
      <div align="center">
        <p><input type="submit" value="ENTER" size="10"/></p>
      </div>
      </form>
    </div>
    </div>
  </div>
</body>
</html>
