<DOCTYPE !HTML>
<html>
<head>
  <link rel="stylesheet" href="css/nephro.css"
</head>
<body>
  <div id="container">
    <h1> NEPHRO-PAL </h1>
      <div class="large-4 columns">
        <div class="row collapse">
          <h3>Login</h3>
          <div class="small-8 columns">
            <input type="text" placeholder="username">
            <br />
            <input type="password" placeholder="password">
            <br />
            <a href="/home" class="button">LOGIN</a>
            <a href="/users/sign_in" class="button alert">Sign Up</a>
          </div>
        </div>
      </div>
  </div>
</body>
</html>
